@tailwind base;
@tailwind components;
@tailwind utilities;

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-karla {
  font-family: "Karla";
  font-optical-sizing: auto;
  font-style: normal;
}

.font-signika {
  font-family: "Signika";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

.font-lilita {
  font-family: "Lilita One";
  font-weight: 400;
  font-style: normal;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-poppins-dashboard {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
